@charset "UTF-8";
/*
p {
	color:				#FF0000;
	background-color:	#000000;
	font-size:			48px;
}
*/


.coffee1 {
	color:				#00FF00;
	background-color:	#FF00FF;
	font-size:			48px;
}

#coffee2 {
	color:				#0000FF;
	background-color:	#FFFF00;
	font-size:			48px;
}

h1 {
	color:				#AFAFAF;
	background-color:	#00FFFF;
	font-size:			48px;
}









