@charset "UTF-8";

body {
	background-color:	#898989;	/* 배경색		*/
	margin:				0;			/* 마진			*/
	padding:			0;			/* 패딩			*/
	font-size:			0.75em;		/* 글꼴의 크기	*/
	line-height:		1.2em;		/* 문단사이의 간격	*/
	color:				#333;		/* 글꼴의 색상	*/
}

/* 전체 컨텐츠를 감싸서 중앙에 배치해 주는 역할을 한다.	*/
#wrap {
	width:				971px;		/* 각 웹 페이지에 맞게 사이즈를 조정한다.	*/
	text-align:			left;
	margin:				0;
	margin-right:		auto;
	margin-left:		auto;	
	background-image:	url(../images/shadow.png);
	background-repeat:	repeat-y;
	min-height:			980px;
}

header {
	height:				151px;
}

.clear {
	clear:				both;	/* float의 속성의 영향을 받지 않도록 한다.	*/
}

#logo {
	float:				left;
	width:				265px;
	margin:				60px 0 0 40px;
}

nav#top_menu {
	width:				600px;
	margin:				50px 20px 0 0;
	float:				right;
}

nav#top_menu ul {
	list-style:			none;
	font-family:		verdana, Geneva, sans-serif;
	font-size:			13px;
	font-weight:		100;
	color:				#333;
}

nav#top_menu ul li {
	float:				left;	/* li 요소들을 가로로 펼친다.	*/
	margin:				0 5px;
}

nav#top_menu a {
	display:			block;
	height:				20px;
	padding:			10px;
	text-decoration:	none;	/* 글자에 있는 밑줄을 없앤다.	*/
	color:				#333;
}

nav#top_menu a:hover {
	background-image:	url(../images/blue.gif);	/* 글자아래 밑줄에 사용할 그림	*/
	background-repeat:	repeat-x;	/* 그림을 가로방향으로만 반복해서 보여준다.	*/
	background-position:bottom;		/* 완성된 줄을 아래쪽에 보이도록 한다.	*/
}

#login {
	float:				right;
	margin:				20px 64px 0 0;
	font-family:		Arial, Helvetica, sans-serif;
	font-size:			12px;
	word-spacing:		5px;
}

#login a {
	text-decoration:	none;	/* 밑줄을 없앤다.	*/
	color:				#333;
}

#login a:hover {
	color:				#F90;	/* 마우스 커서가 글자에 올라가면 색상을 변경시킨다.	*/
}


footer {
	margin:				50px 0 0 0;
	height:				80px;
	background-image:	url(../images/under_logo.jpg);
	background-repeat:	no-repeat;
	background-position:40px center;
}

footer hr {
	width:				900px;
	margin:				0 0 0 15px !important;
}

footer #copy {
	font-family:		verdana, Geneva, sans-serif;
	width:				450px;
	margin:				20px 0 0 220px;
	float:				left;
}

footer #social {
	width:				130px;
	margin:				20px 20px 0 0;
	float:				right;	
}

footer #social img {
	margin:				0 7px;
}






